@media (max-width: 768px) {
  .timeline-container {
    height: auto;
    overflow-x: visible;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
  }

  .timeline {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .timeline::before {
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    transform: translateX(-50%);
    background: linear-gradient(
      to bottom,
      rgb(96, 96, 136),
      rgb(145, 145, 200)
    );
  }

  .timeline-item {
    margin: 40px 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .timeline-ellipse {
    width: 120px;
    height: 120px;
    font-size: 0.8em;
  }

  .ellipse-label {
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
  }

  .tooltip {
    position: static;
    width: 100%;
    max-width: 360px;
    margin-top: 10px;
    left: auto;
    top: auto;
    font-size: 0.85em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
