.Home h1 {
  font-size: 5rem;
  color: rgb(96, 96, 136);
  text-align: center;
  margin-bottom: 20px;
}

.Home p {
  font-size: 1.5rem;
  color: rgb(96, 96, 136);
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.profile {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: block;
  border: none;
}
@media (max-width: 768px) {
  .Home h1 {
    font-size: 2.5rem;
  }

  .Home p {
    font-size: 1.1rem;
  }

  .profile {
    width: 180px;
    height: 180px;
  }
}
