.Contact h1{
    font-size: 4rem;
  }
  
  .Contact {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items:center;
    margin-top: 50px;
    gap: 20px;
    color: rgb(96, 96, 136);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .Contact-link{
    color: rgb(96, 96, 136);
  }
  
  .Contact-link:hover {
    transform: scale(1.3);
    color: rgb(96, 96, 136);
  }
  
  .Contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .Contact-icon {
    margin-right: 12px;
    font-size: 30px;
    color: rgb(96, 96, 136);
  }