.container {
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}
body {
  background-color: #fbfafc; 
  margin: 0;
  padding: 0;
}

/* סרגל ניווט */
.navbar {
  background-color: #fbfafc;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
  border: none;
}

.navbar button {
  background: none;
  color:rgb(96, 96, 136);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.navbar button:hover {
  transform: scale(1.2);

}

/* גוף הדף */
main {
  padding: 40px;
  text-align: center;
}
